.mymetadata
.idea/*
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
.gitattributes
*.iml
*.txt
*.cfg
*.md
.settings/*
/indexes/*
/bin/*
/db/*
/doc/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/src/main/resources/jeesite.properties
/target/

